@font-face {
  font-family: "Coolvetica";
  src: url("./assets/CoolveticaRg-Regular.woff2") format("woff2");
}

/* Adds Legend to Sidebar Icons on hover */

#home-link::after {
  content: "HOME";
}

#about-link::after {
  content: "ABOUT";
}

#mywork-link::after {
  content: "MY WORK";
}
#contact-link::after {
  content: "CONTACT";
}
